:root {
  --foregroundColor: #bababa;
  --backgroundColor: #262728;
}

@font-face {
  font-family: 'Noway';
  src: url('./fonts/noway/noway-regular-webfont.eot');
  src: url('./fonts/noway/noway-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/noway/noway-regular-webfont.woff2') format('woff2'),
    url('./fonts/noway/noway-regular-webfont.woff') format('woff'),
    url('./fonts/noway/noway-regular-webfont.ttf') format('truetype'),
    url('./fonts/noway/noway-regular-webfont.svg#nowayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NowayBold';
  src: url('./fonts/noway/noway-bold-webfont.eot');
  src: url('./fonts/noway/noway-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/noway/noway-bold-webfont.woff2') format('woff2'),
    url('./fonts/noway/noway-bold-webfont.woff') format('woff'),
    url('./fonts/noway/noway-bold-webfont.ttf') format('truetype'),
    url('./fonts/noway/noway-bold-webfont.svg#nowaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Noway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
}
